---
import AccountApp from "../../components/account/AccountApp.svelte";
import AccountSubsiteLayout from "../../layouts/AccountSubsiteLayout.astro";
import "@fontsource/roboto/400.css";
import "@fontsource/roboto/500.css";
import "@fontsource/roboto/700.css";
import "../../styles/variables.styl";
import "../../styles/main.css";

const apiBase = "/accounts-api";
---

<AccountSubsiteLayout
	title="SilentFlare Accounts"
	description="SilentFlare registration, profile, and account security center"
>
	<div
		style="position:absolute; width:1px; height:1px; overflow:hidden; clip:rect(0,0,0,0);"
		aria-hidden="true"
	>
		SilentFlare accounts center register email verification profile avatar region bio two factor security
	</div>
	<AccountApp client:only="svelte" {apiBase} />
</AccountSubsiteLayout>
